:root{
    --primary-color: #020817;
    --primary-color2: #172b4d;
    --secondary-color: #0b1424;
    --text-color: #111827;
    --bot-message: #cedbf9;
    --user-message: #7ca1ff;
    --warm-bg:#fdfbf5;
}